@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto:ital,wght@0,400;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

/* FF 4-18 */
input:focus::-moz-placeholder {
  color: transparent;
}

/* FF 19+ */
input:focus:-ms-input-placeholder {
  color: transparent;
}

/* IE 10+ */
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-list {
  overflow: hidden;
}

.slick-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slick-slider .slick-dots {
  padding: 100px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-slider .slick-dots li {
  margin: 0 5px;
}

.slick-slider .slick-dots li button {
  font-size: 0;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid #c8c8c8;
  background-color: transparent;
}

.slick-slider .slick-dots li.slick-active button {
  background-color: #a9afb3;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #333;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}

.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 500;
  padding: 28px 0 0 0;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__logo-link {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  position: relative;
  margin: 0 0 0 55px;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fce38a;
  opacity: 0;
  position: absolute;
  left: 0;
  margin: 4px 0 0 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu__link:hover {
  color: #fce38a;
}

.menu__link:hover::after {
  opacity: 1;
}

.menu__link-icon {
  display: block;
  margin: 0 0 0 42px;
}

.intro {
  width: 100%;
  min-height: 100vh;
  background: url(../img/bg_picture.jpg) center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__body {
  text-align: center;
}

.intro__subtitle {
  font-family: "Kaushan Script";
  font-size: 72px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  margin: 0 0 20px 0;
}

.intro__title {
  font-family: Montserrat;
  font-size: 150px;
  line-height: 140px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 880px;
}

.intro__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #ffffff;
  margin: 55px auto;
}

.intro__link {
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  border: 3px solid #ffffff;
  padding: 10px 30px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.intro__link:hover {
  background-color: #fff;
  color: #e88f83;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.slider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.slider .active {
  opacity: 1;
}

.slider .active::before {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  position: absolute;
  top: -3px;
  left: 0;
  background-color: #f38181;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__text {
  position: relative;
  padding: 20px 0;
  border-top: 3px solid #fff;
  opacity: 0.4;
  width: 24%;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.slider__text span {
  font-size: 18px;
  font-weight: 400;
}

.story {
  padding: 100px 0;
  text-align: center;
}

.story__text {
  width: 100%;
  max-width: 950px;
  margin: 0 auto 90px;
}

.story__subtitle {
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
  margin: 0 0 15px 0;
}

.story__title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
}

.story__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 40px auto;
}

.story__p {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pic__item {
  position: relative;
  width: 380px;
  background-color: #95e1d3;
}

.pic__item:hover .pic__image {
  -webkit-transform: translate3d(-10px, -10px, 0);
          transform: translate3d(-10px, -10px, 0);
}

.pic__item:hover .pic__item-item {
  opacity: 1;
}

.pic__item:hover .pic__image img {
  opacity: 0.1;
}

.pic__image {
  background: -webkit-gradient(linear, left top, left bottom, from(#f38181), to(#fce38a));
  background: linear-gradient(to bottom, #f38181, #fce38a);
  -webkit-transition: -webkit-transform 0.1s linear;
  transition: -webkit-transform 0.1s linear;
  transition: transform 0.1s linear;
  transition: transform 0.1s linear, -webkit-transform 0.1s linear;
}

.pic__image img {
  display: block;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.pic__item-item {
  opacity: 0;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 500;
  text-align: center;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.pic__item-item-i {
  margin: 0 0 11px 0;
}

.pic__item-item-t {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.stat {
  background-color: #95e1d3;
}

.stat__i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stat__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  padding: 90px 25px;
  border-left: 1px solid #fff;
  text-align: center;
}

.stat__item:last-child {
  border-right: 1px solid #fff;
}

.item__num {
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 25px 0;
}

.item__text {
  text-transform: uppercase;
  color: #ffffff;
}

.amazing {
  padding: 100px 0;
  text-align: center;
}

.amazing__subtitle {
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
  margin: 0 0 15px 0;
}

.amazing__title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
}

.amazing__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 40px auto;
}

.amazing .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.amazing .category__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33.333%;
          flex: 1 0 33.333%;
  margin: 0 0 100px 0;
  text-align: left;
  padding: 0 0 0 60px;
}

.amazing .category__item:nth-child(1) {
  background: url(./img/amazing/icon/1.png) no-repeat 0 0;
}

.amazing .category__item:nth-child(2) {
  background: url(./img/amazing/icon/2.png) no-repeat 0 0;
}

.amazing .category__item:nth-child(3) {
  background: url(./img/amazing/icon/3.png) no-repeat 0 0;
}

.amazing .category__item:nth-child(4) {
  background: url(./img/amazing/icon/4.png) no-repeat 0 0;
}

.amazing .category__item:nth-child(5) {
  background: url(./img/amazing/icon/5.png) no-repeat 0 0;
}

.amazing .category__item:nth-child(6) {
  background: url(./img/amazing/icon/6.png) no-repeat 0 0;
}

.amazing .category__title {
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  margin: 0 0 15px 0;
}

.amazing .category__text {
  max-width: 280px;
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}
